<div id="main" class="container">
	<div id="content" class="content bg-base section" style="margin-top: -8%;">	
		<div class="ribbon ribbon-highlight">
			<ol class="breadcrumb ribbon-inner">
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Teams', teams_path %></li>
				<li class="active" title="teams/new"><em>New Team</em></li>
			</ol>
		</div><!--/.ribbon.ribbon-highlight-->
			<h3 class="page-title" style="margin-left: 39.5%;">
				<em style="color: #6699CC">Add</em> a Team
			</h3>
			<%= form_for [@university, @team], 
									 html: { 
														class: 'form-horizontal',
														role: 'form',
														style: 'margin-left: 37.5%;'
												 	} do |f| %>
				<div class="form-group">
					<%= f.text_field :name, 
							placeholder: "Add this team's name",
							class: 'form-control input-group',
							style: 'width: 40%;' %>
				</div>
				<br />
				<div class="form-group">
					<span>Sport Type:</span><br />
					<%= f.select :sport_type, [
																			['Baseball/Softball', 'Baseball/Softball'],
																			['Basketball', 'Basketball'], 
																			['Golf', 'Golf'],
																			['Soccer', 'Soccer'],
																			['Track & Field', 'Track & Field']
																		],
																		class: 'form-control input-group',
																		style: 'width: 50%;' %>
				</div>
				<br />
				<div class="form-group">
					<div>
						<%= f.submit 'Create Team!', 
								options = { class: 'btn btn-primary',
														style: 'margin-left: 6%;'
													} %>
						&nbsp;
						<%= link_to :cancel, university_path(@university), 
							options = {
													method: :get,
													confirm: 'You sure?',
													class: 'btn btn-danger',
													style: 'margin-left: 1%; margin-top: .2%;'
												} %>
					</div>
				</div>
			<% end %>
			</div>
	</div><!--/#content.content.bg-base.section-->
</div><!--/#main.container-->
