<div class="container">	
	<% if @teams.blank? %>
		<h3><small>No Teams Exist</small></h3>
		<%= render 'first_object' %>
	<% else %>
		<% @teams.each do |team| %>
		<%= link_to :back, root_path %>
		<div>
			<%= button_to 'Create a Team', new_team_path, 
					options = { 
											method: :get, 
											class: 'btn btn-lg btn-primary pull-right', 
											style: 'margin-bottom: 2%;' 
										} %>
		</div>
		<br />
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th>Name</th>
					<th>Sport Type</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</thead>
				<tbody>
					<tr>
						<td><%= team.name %></td>
						<td><%= team.sport_type %></td>
						<td>
							<%= button_to :view, team_path(team), 
									options = { 
															method: :get, 
															class: 'btn btn-xs btn-info', 
															type: 'button' 
														} %>
						</td>
						<td>
							<%= button_to :edit, edit_team_path(team), 
									options = { 
															method: :get, 
															class: 'btn btn-xs btn-default', 
															style: 'display: inline;', 
															type: 'button' 
														} %>
						</td>
						<td>
							<%= button_to :delete, team_path(team), 
									options = { 
															confirm: 'You sure?', 
															method: :delete, 
															class: 'btn btn-xs btn-danger', 
															style: 'display: inline;' 
														} %>
						</td>
					</tr>
				</tbody>
			</table>
		</div><!-- END class table-responsive -->
		<% end %>
	<% end %>
</div><!-- END class container -->
