<div class="container">
	<h1>Teams#show</h1>
	<p>Find me in app/views/teams/show.html.erb</p>
	<%= link_to :back, university_teams_path(@university, @team) %>
	<br />

	<div>
		<%= @team.name %>
		<%= @team.sport_type %>
	</div>
	<div class="row-fluid">
		<%= button_to :edit, 
				edit_university_team_path(university_id: @university, id: @team),
				options = {
										method: :get,
										class: 'btn btn-sm btn-default'
									} %>
		<%= button_to :delete, university_team_path(university_id: @university, id: @team),
				options = {
										method: :delete,
										confirm: 'You sure?',
										class: 'btn btn-sm btn-danger'
									} %>
	</div>
</div><!-- END CLASS container -->
