<div id="main" class="container">
	<div id="content" class="content bg-base section" style="margin-top: -8%;">	
		<div class="ribbon ribbon-highlight">
			<ol class="breadcrumb ribbon-inner">
				<li><%= link_to 'Home', root_path %></li>
				<li class="active" title="Universities">
					<%= link_to 'Universities', universities_path %>
				</li>
				<li>
					<%= link_to "#{@university.name}", university_path(@university) %>
				</li>
				<li>
					<em><%= @team.name %></em>
				</li>
			</ol>
		</div><!--/.ribbon.ribbon-highlight-->
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<th>Name</th>
					<th>Sport Type</th>
					<th>University</th>
					<% if current_user.try(:admin?) %>
						<th>Edit</th>
						<th>Delete</th>
					<% end %>
				</thead>
				<tbody>
					<td><%= @team.name %></td>
					<td><%= @team.sport_type %></td>
					<td><%= @team.university_name %></td>
					<% if current_user.try(:admin?) %>
						<td>
							<%= button_to :edit, edit_university_team_path(university_id: @university, id: @team),
									options = {
															method: :get,
															class: 'btn btn-sm btn-default'
														} %>
						</td>
						<td>
							<%= button_to :delete, university_team_path(university_id: @university, id: @team),
									options = {
															method: :delete,
															confirm: 'You sure?',
															class: 'btn btn-sm btn-danger'
														} %>
						</td>
					<% end %>
				</tbody>
			</table>
		</div><!--/.table-responsive-->
		<%= button_to :back, university_path(@university), 
				html_options = { class: 'btn btn-sm', method: :get } %>
	</div><!--/#content.content.bg-base.section-->
</div><!--/#main.container-->
