<div id="main" class="container">	
	<div class="section row entries bg-primary secton-no-margin-bottom">









		<div class="col-lg-6 col-xl-5">
			<div class="row">
				<article class="entry style-grid style-hero hero-md-largest type-post col-md-8 col-lg-12 colheight-sm-1 colheight-md-1 colheight-lg-1 colheight-xl-1">
					<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
						<%= link_to 'Upcoming Events', events_path %>
					</div>
					<header class="entry-header">
					<h5 class="entry-title"></h5>
						<div class="entry-meta">
							<div class="table-responsive">
								<table class="table table-condensed">
									<thead>
										<th>Date</th>
										<th>Title</th>
										<th>Home Team</th>
										<th>Away Team</th>
									</thead>
									<tbody>
									<% @upcoming_events.each do |upcoming_event| %>
										<tr>
											<td>
												<u>
													<%= link_to "#{upcoming_event.event_on.strftime('%a %b %d, %Y')}",
															event_path(upcoming_event) %>
											</u>
											</td>
											<td>
												<u>
													<%= link_to "#{upcoming_event.title}", 
															event_path(upcoming_event) %>
											</u>
											</td>
											<td>
												<u>
													<%= link_to "#{upcoming_event.home_team_name}", 
															event_path(upcoming_event) %>
												</u>
											</td>
											<td>
												<u>
													<%= link_to "#{upcoming_event.away_team_name}", 
															event_path(upcoming_event) %>
												</u>
											</td>
										</tr>
									</tbody>
									<% end %>
								</table>
							</div><!-- END CLASS table-responsive -->
						</div><!-- END CLASS entry-meta -->
					</header>
					<figure class="entry-thumbnail">
						<a href="single.html" class="overlay overlay-primary"></a>
						<%= image_tag("placeholder.gif", size: "720x420") %>
					</figure>
				</article>
				<article class="entry style-grid style-hero hero-md-largest type-post col-md-8 col-lg-12 colheight-sm-1 colheight-md-1 colheight-lg-1 colheight-xl-1">
					<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
						<%= link_to 'Recent Events', events_path %>
					</div>
					<header class="entry-header">
					<h5 class="entry-title"></h5>
						<div class="entry-meta">
							<div class="table-responsive">
								<table class="table table-condensed">
									<thead>
										<th>Date</th>
										<th>Title</th>
										<th>Home Team</th>
										<th>Away Team</th>
										<th>Wnner</th>
									</thead>
									<tbody>
										<% @recent_events.each do |recent_event| %>
										<tr>
											<td>
												<u>
													<%= link_to  "#{recent_event.event_on.strftime('%a %b %d, %Y')}", 	events_path %>
												</u>
											</td>
											<td>
												<u><%= link_to  "#{recent_event.title}", events_path %></u>
											</td>
											<td>
												<u>
													<%= link_to "#{recent_event.home_team_name}", events_path %>
												</u>
													&nbsp;&nbsp; 
													<small>Score</small>: <%= recent_event.home_team_score %>
											</td>
											<td>
												<u>
													<%= link_to "#{recent_event.away_team_name}", events_path %>
												</u>
												&nbsp;&nbsp; 
												<small>Score</small>: <%= recent_event.away_team_score %>
											</td>
											<td>
												<%= recent_event.winner %>
											</td>
										</tr>
									</tbody>
									<% end %>
								</table>
							</div><!-- END CLASS table-responsive -->
						</div><!-- END CLASS entry-meta -->
					</header>
					<figure class="entry-thumbnail">
					<a href="single.html" class="overlay overlay-primary"></a>
					<%= image_tag("placeholder.gif", size: "720x420") %>
				</figure>
			</article>
		</div><!-- END CLASS row -->
	</div><!-- END CLASS ribbon ribbon-pulled ribbon-small ribon-highlight -->
	<div class="col-lg-6 col-xl-7">
		<div class="row">
			<article class="entry style-grid style-hero type-post col-md-4 col-lg-8 colheight-sm-1">
				<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
					<%= link_to 'Latest Scores', events_path %>
				</div>
				<header class="entry-header">
					<h3 class="entry-title"><a href="single.html"></a> </h3>
					<div class="entry-meta">
						<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<th colspan=1>Date</th>
							<th colspan=2>Home Team</th>
							<th colspan=2>Away Team</th>
						</thead>
						<tbody>
						<% @recent_events.each do |recent_event| %>
							<tr>
								<td>
									<u>
										<%= link_to"#{recent_event.event_on.strftime('%a %b %d, %Y')}", 					events_path %>
									</u>
								</td>
								<td colspan=2>
									<u>
										<%= link_to"#{recent_event.home_team_name}", events_path %>
									</u>
									&nbsp;&nbsp; 
										<small>Score</small>: <%= recent_event.home_team_score %>
								</td>
								<td colspan=2> 
									<u>
										<%= link_to"#{recent_event.away_team_name}", events_path %>
									</u>
									&nbsp;&nbsp;
									<small>Score</small>: <%= recent_event.away_team_score %>
								</td>
							</tr>
						</tbody>
						<% end %>
					</table>
				</div><!-- END CLASS table-responsive -->
					</div>
				</header>
				<figure class="entry-thumbnail">
					<a href="single.html" class="overlay overlay-primary"></a>
					<%= image_tag("placeholder.gif", size: "480x280") %>
				</figure>
				<!--fallback for no javascript browsers-->
				<noscript>
					<img src="http://placehold.it/480x280" alt="">
				</noscript>
			</article>
			<article class="entry style-grid style-hero type-post col-md-4 col-lg-4 colheight-sm-1">
				<div class="ribbon ribbon-pulled ribbon-small" style="opacity: .5;">
					<%= link_to 'Site Advertisment 1', root_path, style: 'opacity: .5' %>
				</div>
				<header class="entry-header">
					<p>
						Authoritatively leverage existing web-enabled infomediaries. 
					</p>
					<div class="entry-meta">
						<span class="entry-date"></span>
						<span class="entry-author"> by <a href="blog.html">John Doe</a></span>
					</div>
				</header>
				<figure class="entry-thumbnail">
					<a href="single.html" class="overlay overlay-primary"></a>
					<%= image_tag("placeholder.gif", size: "380x485") %>
					<noscript>
						<img src="http://placehold.it/380x485" alt="">
					</noscript>
				</figure>
			</article>
		</div><!-- END CLASS row -->
	</div><!-- END CLASS ribbon ribbon-pulled ribbon-small ribon-highlight -->
	<div class="col-lg-6 col-xl-7">
		<div class="row">
			<article class="entry style-grid style-hero type-post col-md-4 col-lg-8 colheight-sm-1">
				<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
					<%= link_to 'Latest Articles', articles_path %>
				</div>
				<header class="entry-header">
					<h3 class="entry-title"><a href="single.html"></a> </h3>
					<div class="entry-meta">
						<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<th colspan=1>Date</th>
							<th colspan=2>Title</th>
							<th colspan=2>Author</th>
						</thead>
						<% @recent_articles.each do |recent_article| %>
						<tbody>
							<tr>
								<td>
									<u>
										<%= link_to "#{recent_article.created_at.strftime('%a %b %d, %Y')}", 	  	article_path(recent_article) %>
									</u>
								</td>
								<td colspan=2>
									<u>
										<%= link_to "#{recent_article.title}", article_path(recent_article) %>
									</u>
								</td>
								<td colspan=2>
									<u>
										<%= link_to "#{recent_article.author}", article_path(recent_article) %>
									</u>
								</td>
							</tr>
						</tbody>
						<% end %>
					</table>
				</div><!-- END CLASS table-responsive -->
					</div>
				</header>
				<figure class="entry-thumbnail">
					<a href="single.html" class="overlay overlay-primary"></a>
					<%= image_tag("placeholder.gif", size: "480x280") %>
				</figure>
				<!--fallback for no javascript browsers-->
				<noscript>
					<img src="http://placehold.it/480x280" alt="">
				</noscript>
			</article>
			<article class="entry style-grid style-hero type-post col-md-4 col-lg-4 colheight-sm-1">
				<div class="ribbon ribbon-pulled ribbon-small" style="opacity: .5;">
					<%= link_to 'Site Advertisment 2', root_path, style: 'opacity: .5' %>
				</div>
				<header class="entry-header">
					<p>
						Dramatically visualize worldwide convergence with superior readiness.
					</p>
					<div class="entry-meta">
						<span class="entry-date"></span>
						<span class="entry-author"> by <a href="blog.html">John Doe</a></span>
					</div>
				</header>
				<figure class="entry-thumbnail">
					<a href="single.html" class="overlay overlay-primary"></a>
					<%= image_tag("placeholder.gif", size: "380x485") %>
					<noscript>
						<img src="http://placehold.it/380x485" alt="">
					</noscript>
				</figure>
			</article>
		</div><!-- END CLASS row -->
	</div><!-- END CLASS ribbon ribbon-pulled ribbon-small ribon-highlight -->
	

		<div class="bg-base col-md-6 col-lg-6">
							
							<h2 class="section-title ribbon ribbon-highlight"><span>What's Hot</span></h2>

							<div class="entries">

								<article class="entry style-large type-post">
									<%= link_to url: 'http://www.placehold.it/680x452' do %>
										<%= image_tag 'http://www.placehold.it/680x452' %>
									<% end %>
									<figure class="entry-thumbnail hidden-xs">

										<a href="single.html">
											<!-- to disable lazy loading, remove data-src and data-src-retina -->
											<img src="../img/placeholder.gif" data-src="http://placehold.it/680x452" data-src-retina="http://placehold.it/1024x680" width="680" height="452" alt="">
											

											<!--fallback for no javascript browsers-->
											<noscript>
												<!-- <img src="http://placehold.it/680x452" alt=""> -->
												<%= image_tag 'placeholder.gif', size: '680x452' %>
											</noscript>
										</a>

									</figure>

									<header class="entry-header">

										<h3 class="entry-title">
											<small>
												<a href="single.html" rel="bookmark">
													The mosts views and discussed posts on this time goes here.
												</a>
											</small>
										</h3>
										<div class="entry-meta">
											<span class="author">by <a href="blog.html">John Doe</a></span>
											<span class="entry-date"><a href="blog.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
											<span class="category">In <a href="blog.html">Technology</a></span>
										</div>

									</header>

									<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet.</p>

								</article>

								<article class="entry style-large type-post">
									<%= link_to url: 'http://www.placehold.it/680x452' do %>
										<%= image_tag 'http://www.placehold.it/680x452' %>
									<% end %>
									<figure class="entry-thumbnail hidden-xs">

										<a href="single.html">

											<!-- to disable lazy loading, remove data-src and data-src-retina -->
											<img src="../img/placeholder.gif" data-src="http://placehold.it/680x452" data-src-retina="http://placehold.it/1024x680" width="680" height="452" alt="">

											<!--fallback for no javascript browsers-->
											<noscript>
												<img src="http://placehold.it/680x452" alt="">
											</noscript>

										</a>

									</figure>

									<header class="entry-header">

										<h3 class="entry-title">
											<small>
												<a href="single.html" rel="bookmark">
													Excepteur sint occaecat cupidatat non proident.
												</a>
											</small>
										</h3>
										<div class="entry-meta">
											<span class="author">by <a href="blog.html">John Doe</a></span>
											<span class="entry-date"><a href="blog.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
											<span class="category">In <a href="blog.html">Entertaintment</a></span>
										</div>

									</header>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

								</article>
								
								<article class="entry style-large type-post">

									<figure class="entry-thumbnail hidden-xs">

										<a href="single.html">

											<!-- to disable lazy loading, remove data-src and data-src-retina -->
											<img src="../img/placeholder.gif" data-src="http://placehold.it/680x452" data-src-retina="http://placehold.it/1024x680" width="680" height="452" alt="">

											<!--fallback for no javascript browsers-->
											<noscript>
												<img src="http://placehold.it/680x452" alt="">
											</noscript>
											
										</a>

									</figure>

									<header class="entry-header">

										<h3 class="entry-title">
											<a href="single.html" rel="bookmark">Excepteur sint occaecat cupidatat non proident.</a>
										</h3>
										<div class="entry-meta">
											<span class="author">by <a href="blog.html">John Doe</a></span>
											<span class="entry-date"><a href="blog.html">on <time datetime="2013-07-04T23:26:34+00:00">September 20 2013</time></a></span>
											<span class="category">In <a href="blog.html">Entertaintment</a></span>
										</div>

									</header>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

								</article>
								
							</div>

						</div><!--/.bg-base.col-md-8.col-lg-8-->

					</div><!--/.colheight-->

				</div><!--/.col-md-8.col-lg-4-->





	</div><!-- END CLASS section row entries bg-primary secton-no-margin-bottom -->
</div><!-- END ID main CLASS container -->
