<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<br />
<div>
	<h4>Upcoming Events</h4>
	<% @upcoming_events.each do |upcoming_event| %>
		<ul>
			<li><%= upcoming_event.title %></li>
			<li><%= upcoming_event.name %></li>
			<li><%= upcoming_event.event_on.strftime('%A %B %d, %Y') %></li>
			<li><%= upcoming_event.author %></li>
		</ul>
	<% end %>
</div>
<div>
	<h4>Recent Events</h4>
	<% @recent_events.each do |recent_event| %>
		<ul>
			<li><%= recent_event.name %></li>
			<li><%= recent_event.home_team_score %></li>
			<li><%= recent_event.away_team_score %></li>
			<li><%= recent_event.winner %></li>
		</ul>
	<% end %>
</div>
<div>
	<h4>Teams by Sport Type</h4>
	<% @baseball_teams.each do |baseball_team| %>
		<ul>
			<li><%= baseball_team.name %></li>
			<li><%= baseball_team.sport_type %></li>
			<li><%= baseball_team.id %></li>
			<li><%= baseball_team.created_at.strftime('%A %B %d, %Y') %></li>
			<li><%#= %></li>
		</ul>
	<% end %>
</div>
