<div id="main" class="container">
	<div id="content" class="content bg-base section">	
		<div class="ribbon ribbon-highlight">
			<ol class="breadcrumb ribbon-inner">
				<li><%= link_to 'Home', root_path %></li>
				<li class="active" title="articles"><em>Articles</em></li>
			</ol>
		</div>
		<% if @articles.blank? %>
			<h3><small>No Articles Exist</small></h3>
			<% if user_signed_in? %>
				<%= render 'articles/first_object' %>
			<% end %>
		<% else %>
			<!--.table-->
			<h1 class="entry-title">Universities</h1>
			<% if user_signed_in? %>
				<%= button_to 'Create an Article', new_article_path, 
						options = { 
												method: :get, 
												class: 'btn btn-primary pull-right', 
												style: 'margin-bottom: 2%;'
											} %>
			<% end %>
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Title</th>
							<th>Body</th>
							<th>Author</th>
							<th>View</th>
							<% if current_user.try(:admin?) %>
								<th>Edit</th>
								<th>Delete</th>
							<% end %>
						</tr>
					</thead>
					<% @articles.each do |article| %>
					<tbody>
						<tr>
							<td><%= article.title %></td>
							<td><%= article.body %></td>
							<td><%= article.author %></td>
							<td>
								<%= button_to :view, article_path(article), 
										options = { 
																method: :get, 
																class: 'btn btn-xs btn-info', 
																	type: 'button' 
															} %>
							</td>
							<% if current_user.try(:admin?) %>
								<td>
									<%= button_to :edit, edit_article_path(article), 
											options = { 
																	method: :get, 
																	class: 'btn btn-xs btn-default', 
																	style: 'display: inline;', 
																	type: 'button' 
																} %>
								</td>
								<td>
									<%= button_to :delete, article_path(article), 
											options = { 
																	method: :delete,
																	confirm: 'You sure?', 
																	class: 'btn btn-xs btn-danger', 
																	style: 'display: inline;' 
																} %>
								</td>
							<% end %>
						</tr>
					</tbody>
				<% end %>
				</table>
			</div><!--.table-responsive-->
		<% end %>
		<%= button_to :back, root_path, class: 'btn btn-sm' %>
	</div><!--/#content.content.bg-base.section-->
</div><!--/#main.container-->
