<h3>Create an Event</h3>
<%= link_to :back %>
<br />
<%= form_for @event, html: { class: 'form-horizontal' } do |f| %>
	<% if @event.errors.any? %>
		<div class="error_messages">
			<h3>Please correct the following errors.</h3>
			<ul>
				<% @event.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.text_field :author, class: 'text_field', placeholder: 'Your name' %>
	<%= f.select :home_team_id, @teams.map { |team| [team.name, team.id] } %>
	<%= f.select :away_team_id, @teams.map { |team| [team.name, team.id] } %>
	<%= f.text_field :title, class: 'text_field', placeholder: 'Title of event' %>
	<%= f.select :kind, @teams.map { |team| [team.sport_type] } %>
	<%= f.text_field :home_team_score, class: 'text_field', placeholder: 'Home team score' %>
	<%= f.text_field :away_team_score, class: 'text_field', placeholder: 'Away team away_team_score' %>
	<%= f.text_field :winner, class: 'text_field', placeholder: 'Winning team name' %>
	<%= f.text_area :details, class: 'text_area', placeholder: 'Details about the event' %>
	<%= f.datetime_select :event_on, class: 'datetime_select' %>
	<%= f.submit 'Create Event!', options = {
																						method: :post,
																						class: 'btn btn-primary btn-lg'
																					} %>
<% end %>
<%= link_to :cancel, events_path, class: 'btn btn-small btn-danger' %>
