<div class="container">
	<% if @events.blank? %>
		<h3><small>No Events Exist</small></h3>
		<%= render 'first_object' %>
	<% else %>
		<%= link_to :back, root_path %>
		<%= button_to 'Create an Event', new_event_path, 
				options = { 
										method: :get, 
										class: 'btn btn-lg btn-primary pull-right', 
										style: 'margin-bottom: 2%;' 
									} %>
		<br />
		<h3>Upcoming Events</h3>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th>Event Name</th>
					<th>Date</th>
					<th>Details</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</thead>
				<tbody>
					<% @events.each do |event| %>
					<tr>
						<td><%= event.name %></td>
						<td><%= event.event_on.strftime("%a %B %e, %Y") %></td>
						<td><%= event.details %></td>
						<td>
							<%= button_to :view, event_path(event), 
									options = { 
															method: :get, 
															class: 'btn btn-xs btn-info' 
														} %>
						</td>
						<td>
							<%= button_to :edit, edit_event_path(event), 
									options = { 
															method: :get, 
															class: 'btn btn-xs btn-default' 
														} %>
						</td>
						<td>
							<%= button_to :delete, event_path(event), 
									options = { 
															method: :delete, 
															confirm: 'You sure?', 
															class: 'btn btn-xs btn-danger' 
														} %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div><!-- END class table-responsive -->	
	</div><!-- END class container -->
	<div class="container">
		<h3>Past Events</h3>
	</div><!-- END class container -->
	<% end %>


