<h3><em><%= @event.name %></em> - show page</h3>
<%= link_to :back %>
<br />
<%= @event.title %>
<%= @event.kind %>
<%= @event.event_on %>
<%= @event.home_team_score %>
<%= @event.away_team_score %>
<%= @event.winner %>
<%= @event.details %>
<%= @event.author %>
