<div class="container">
	<div><%= link_to :back, events_path %></div>
	<br />
	<div class="panel panel-default" style="width: 50%;">
		<div class="panel-heading">
			<h3 class="panel-title"><%= @event.title %></h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					<b>Home Team</b>: <%= @event.home_team_name %> 
					<h6>vs.</h6> 
					<b>Away Team</b>: <%= @event.away_team_name %>
				</li>
				<li class="list-group-item"><b>Sport</b>: <%= @event.kind %></li>
				<li class="list-group-item">
					<b>Date</b>: <%= @event.event_on.strftime("%A %B %d, %Y") %>
				</li>				
				<li class="list-group-item">
					<b>Winner</b>: <%= @event.winner %>
				</li>
				<li class="list-group-item">
					<b>Home team score</b>: <%= @event.home_team_score %>
				</li>
				<li class="list-group-item">
					<b>Away team score</b>: <%= @event.away_team_score %>
				</li>
				<li class="list-group-item"><b>Details</b>: <%= @event.details %></li>
				<li class="list-group-item"><b>Author</b>: <%= @event.author %></li>
			</ul>
		</div>
	</div><!-- END CLASS panel panel-default -->
	<div class="row-fluid">
		<%= button_to :edit, edit_team_event_path(@event),
				options = {
										method: :get,
										class: 'btn btn-sm btn-default'
									} %>
		<%#= button_to :delete, event_path(@event),
				options = {
										method: :delete,
										confirm: 'You sure?',
										class: 'btn btn-sm btn-danger'
									} %>
	</div>
	<%= link_to :back, events_path %>
</div><!-- END CLASS container -->
