<h3>Add a University</h3>
<%= link_to :back %>
<br />
<%= form_for @university, html: { class: "form-horizontal" } do |f| %>
	<% if @university.errors.any? %>
		<div class="error_messages">
			<h3>Please correct the following errors.</h3>
			<ul>
				<% @university.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.text_field :name, class: 'text_field', placeholder: 'University Name' %>
	<%= f.text_field :url, class: 'text-field', placeholder: 'University Website' %>
	<%= f.text_area :address, placeholder: 'University Address' %>
	<%= f.text_field :city, class: 'text-field', placeholder: 'University City' %>
	<%= f.text_field :state, class: 'text-field', placeholder: 'University State' %>
	<%= f.text_field :zip, class: 'text-field', placeholder: 'University Zip' %>
	<%= button_to 'Create University!', university_path(@university), options = { 
																									method: :post, 
																									class: 'btn btn-lg btn-primary' 
																								} %>
<% end %>	
