<div>
	
	<div class="row-fluid">
		<h3>Teams</h3>
		<% if current_user.try(:admin?) %>
			<%= link_to 'Add a Team', new_university_team_path(@university),
																options = {
																						method: :get,
																						class: 'btn btn-primary'
																					} %>
		<% end %>
	</div>
	<br />
	<% @teams.each_with_index do |team, university| %>
		<div class="table-responsive">
			<table class="table table-bordered" style="width: 50%;">
				<thead>
					<th>Name</th>
					<th>Sport Type</th>
					<th>View</th>
					<% if current_user.try(:admin?) %>
						<th>Delete</th>
					<% end %>
				</thead>
				<tbody>
					<tr>
						<td><%= team.name %></td>
						<td><%= team.sport_type  %></td>
						<td>
							<%= link_to "View #{ team.name }", 
									university_team_path(university_id: @university.id, id: team),
									options = {
															method: :get,
															class: 'btn btn-sm btn-info'
														} %>
						</td>
						<% if current_user.try(:admin?) %>
							<td>
								<%= link_to "Delete #{ team.name }", 
										university_team_path(university_id: @university, id: team),
										options = {
																method: :delete,
																confirm: 'You sure?',
																class: 'btn btn-sm btn-danger'
															} %>
							</td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div><!-- END CLASS table-responsive -->
	<% end %>
</div>
