<div class="row-fluid">
	<h1 class="entry-title">Teams</h1>
	<% if current_user.try(:admin?) %>
		<%= link_to 'Add a Team', new_university_team_path(@university),
															options = {
																					method: :get,
																					class: 'btn btn-primary'
																				} %>
	<% end %>
	<!--Team Management-->
	<div class="table-responsive">
		<table class="table table-hover table-bordered">
			<thead>
				<th>Name</th>
				<th>Sport Type</th>
				<th>View</th>
				<% if current_user.try(:admin?) %>
					<th>Edit</th>
					<th>Delete</th>
				<% end %>
			</thead>
			<% @teams.each_with_index do |team, university| %>
			<tbody>
				<tr>
					<td><%= team.name %></td>
					<td><%= team.sport_type %></td>
					<td>
						<%= link_to 'View Team', 
								university_team_path(university_id: @university.id, id: team),
								options = {
														method: :get,
														class: 'btn btn-sm btn-info'
													} %>
					</td>
					<% if current_user.try(:admin?) %>
						<td>
							<%= link_to 'Edit', 
									edit_university_team_path(university_id: @university, id: team),
									options = {
															method: :get,
															class: 'btn btn-sm btn-default'
														} %>
						</td>
						<td>
							<%= link_to 'Delete', 
									university_team_path(university_id: @university, id: team),
									options = {
															method: :delete,
															confirm: 'You sure?',
															class: 'btn btn-sm btn-danger'
														} %>
						</td>
					<% end %>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div><!-- END CLASS table-responsive -->
</div><!--/.row-fluid-->
