<div id="main" class="container">
	<div id="content" class="content bg-base section">	
		<div class="ribbon ribbon-highlight">
			<ol class="breadcrumb ribbon-inner">
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Universities', universities_path %></li>
				<li class="active" title="universities/new"><em>Edit</em></li>
			</ol>
		</div><!--/.ribbon.ribbon-highlight-->
			<h6 class="page-title" style="margin-left: 36%;">
				<span style="color: #FF3333"><em>Edit</em></span> a University
			</h6>
			<form role="form" style="margin-left: 33%;">
				<%= form_for @university, html: { class: "form-horizontal" } do |f| %>
				<% if @university.errors.any? %>
					<div class="error_messages">
						<h3>Please correct the following errors.</h3>
						<ul>
							<% @university.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class="form-group">
					<%= f.text_field :name, class: 'text_field', 
							placeholder: 'University Name', 
							class: 'form-control input-lg',
							style: 'width: 50%;'
							 %>
				</div>
				<div class="form-group">
					<%= f.text_field :url, class: 'text-field', 
							placeholder: 'University Website',
							class: 'form-control input-lg',
							style: 'width: 50%;'
							 %>
				</div>
				<div class="form-group">				
					<%= f.text_area :address, 
							placeholder: 'University Address', 
							size: '32x3', 
							class: 'form-control input-lg',
							style: 'width: 50%;'
							 %>
				</div>
				<div class="form-group">
					<%= f.text_field :city, class: 'text-field', 
							placeholder: 'University City', 
							class: 'form-control input-lg',
							style: 'width: 50%;'
							 %>
				</div>
				<div class="form-group">
					<%= f.text_field :state, class: 'text-field', 
							placeholder: 'University State', 
							class: 'form-control input-lg',
							style: 'width: 50%;'
							 %>
				</div>
				<div class="form-group">
					<%= f.text_field :zip, class: 'text-field', 
							placeholder: 'University Zip', 
							class: 'form-control input-lg',
							style: 'width: 50%;'
							 %>
				</div>
				<%= button_to :update, university_path(@university), 
						options = { method: :put, 
												class: 'btn btn-lg btn-success', 
												style: 'display: inline; margin-left: 16%;'
											} %>

				<% end %>	

					<%= button_to :cancel, universities_path, 
							options = { 
													method: :get, 
													class: 'btn btn-sm btn-danger', 
													style: 'margin-left: 53%; margin-top: -6.8%;'
												} %>
				</div>
			</form>
	</div><!--/#content.content.bg-base.section-->
</div><!--/#main.container-->
