<div id="main" class="container">
	<div id="content" class="content bg-base section">	
		<div class="ribbon ribbon-highlight">
			<ol class="breadcrumb ribbon-inner">
				<li><%= link_to 'Home', root_path %></li>
				<li class="active" title="Universities">Universities</li>
			</ol>
		</div>
		<% if @universities.blank? %>
			<h3><small>No Universitites Exist</small></h3>
			<% unless current_user.try(:admin?) %>
				<h5>
					<em>Please contact Adminitrator to add a university</em>
				</h5>
			<% end %>
		<% end %>
		<% if current_user.try(:admin?) %>
			<%= render 'universities/first_object' %>
		<% end %>
	<% else %>
		<!--.table-->
		<h1 class="entry-title">Universities</h1>
		<% if current_user.try(:admin?) %>
			<%= button_to 'Create a University', new_university_path, 
					options = { 
											method: :get, 
											class: 'btn btn-primary pull-right', 
											style: 'margin-bottom: 2%;'
										} %>
		<% end %>
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>URL</th>
						<th>Address</th>
						<th>View</th>
						<% if current_user.try(:admin?) %>
							<th>Edit</th>
							<th>Delete</th>
						<% end %>
					</tr>
				</thead>
				<% @universities.each do |university| %>
				<tbody>
					<tr>
						<td><%= university.name %></td>
						<td><%= university.url %></td>
						<td><%= university.address %></td>
						<td>
							<%= button_to :view, university_path(university), 
									options = { 
															method: :get, 
															class: 'btn btn-xs btn-info', 
																type: 'button' 
														} %>
						</td>
						<% if current_user.try(:admin?) %>
							<td>
								<%= button_to :edit, edit_university_path(university), 
										options = { 
																method: :get, 
																class: 'btn btn-xs btn-default', 
																style: 'display: inline;', 
																type: 'button' 
															} %>
							</td>
							<td>
								<%= button_to :delete, university_path(university), 
										options = { 
																method: :delete,
																confirm: 'You sure?', 
																class: 'btn btn-xs btn-danger', 
																style: 'display: inline;' 
															} %>
							</td>
						<% end %>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div><!--.table-responsive-->
		<%= button_to :back, root_path, class: 'btn btn-sm' %>
	</div><!--/#content.content.bg-base.section-->
</div><!--/#main.container-->
