<div class="container">	
	<% if @universities.blank? %>
		<h3><small>No Universitites Exist</small></h3>
		<%= render 'universities/first_object' %>
	<% else %>
		<%= link_to :back %>
		<%= button_to 'Create a University', new_university_path, 
				options = { 
										method: :get, 
										class: 'btn btn-lg btn-primary pull-right', 
										style: 'margin-bottom: 2%;'
									} %>
		<br />
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th>University Name</th>
					<th>Url</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</thead>
				<% @universities.each do |university| %>
				<tbody>
					<tr>
						<td><%= university.id %></td>
						<td><%= university.url %></td>
						<td>
							<%= button_to :view, university_path(university), 
									options = { 
															method: :get, 
															class: 'btn btn-xs btn-info', 
																type: 'button' 
														} %>
						</td>
						<td>
							<%= button_to :edit, edit_university_path(university), 
									options = { 
															method: :get, 
															class: 'btn btn-xs btn-default', 
															style: 'display: inline;', 
															type: 'button' 
														} %>
						</td>
						<td>
							<%= button_to :delete, university_path(university), 
									options = { 
															method: :delete,
															confirm: 'You sure?', 
															class: 'btn btn-xs btn-danger', 
															style: 'display: inline;' 
														} %>
						</td>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div><!-- END class table-responsive -->
	<% end %>	
</div><!-- END class container -->
