<div id="main" class="container">
	<div id="content" class="content bg-base section" style="margin-top: -8%;">	
		<div class="ribbon ribbon-highlight">
			<ol class="breadcrumb ribbon-inner">
				<li><%= link_to 'Home', root_path %></li>
				<li class="active" title="Universities">
					<%= link_to 'Universities', universities_path %>
				</li>
				<li>
					<em><%= @university.name %></em>
				</li>
			</ol>
		</div><!--/.ribbon.ribbon-highlight-->
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<th>Name</th>
					<th>URL</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
					<th>Zip</th>
					<% if current_user.try(:admin?) %>
						<th>Edit</th>
						<th>Delete</th>
					<% end %>
				</thead>
				<tbody>
					<td><%= @university.name %></td>
					<td><%= @university.url %></td>
					<td><%= @university.address %></td>
					<td><%= @university.city %></td>
					<td><%= @university.state %></td>
					<td><%= @university.zip %></td>
					<% if current_user.try(:admin?) %>
						<td>
							<%= button_to :edit, edit_university_path(@university),
									options = {
															method: :get,
															class: 'btn btn-sm btn-default'
														} %>
						</td>
						<td>
							<%= button_to :delete, university_path(@university),
									options = {
															method: :delete,
															confirm: 'You sure?',
															class: 'btn btn-sm btn-danger'
														} %>
						</td>
					<% end %>
				</tbody>
			</table>
		</div><!--/.table-responsive-->
		<div class="row-fluid">
			<%= render 'team_management' %>
		</div>
			<%= button_to :back, universities_path, class: 'btn btn-sm', method: :get %>
	</div><!--/#content.content.bg-base.section-->
</div><!--/#main.container-->

