<!-- Navbar -->
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"data-target=#bs="example-navbar-coollapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to :sevendaysports, root_path, class: 'navbar-brand' %>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
			  <li>
			  	<%= link_to('Logout', destroy_user_session_path, method: :delete) %>     
			  </li>
			<% else %>
			  <li><%= link_to('Login', new_user_session_path) %></li>
			<% end %>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<li>
				<p class="navbar-text"><%= link_to 'Home', root_path %></p>
			</li>
			<li>
				<p class="navbar-text"><%= link_to 'Universities', universities_path %></p>
			</li>
<!-- 			<li>
				<p class="navbar-text"><%= link_to 'Teams', teams_path %></p>
			</li> -->
			<li>
				<p class="navbar-text"><%= link_to 'Events', events_path %></p>
			</li>
			<li>
				<p class="navbar-text"><%= link_to 'Articles', articles_path %></p>
			</li>
			<!-- <li>
				<p class="navbar-text"><%= link_to 'Media', medias_path %></p>
			</li> -->
<!-- 			<li>
				<p class="navbar-text">
					<%#= link_to 'Calendar', root_path %>
				</p>
			</li> -->
			<li>
				<p class="navbar-text"><%= link_to 'Contact us', contact_path %></p>
			</li>
		</ul>
	</div>
</nav>
<!-- /.navbar -->
