<!DOCTYPE html>
<html>
	<head>
	  <title>Sevendaysports</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	  <%= render partial: 'layouts/summarize_header' %>
	</head>
	<body>
		<%= render 'layouts/nav' %>
		<%= render 'layouts/flash_messages' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</body>
</html>
		<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
