<!DOCTYPE html>
<html>
	<head>
	  <title>Sevendaysports</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div>
				<%= render 'layouts/nav' %>
			</div>
			<div>
				<%= render 'layouts/flash_messages' %>
			</div>
			<div>	
				<%= yield %>
			</div>
			<div>
				<%= render 'layouts/footer' %>
			</div>
		</div><!-- END CLASS container -->	
		<script src="https://code.jquery.com/jquery.js"></script>
	</body>
</html>
